{% extends "base.html" %}

{% load static %}

{% block title %}
  Remote
{% endblock %}

{% block content %}

  <div class="pagetitle">
    <h1>Remote</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'search:index' %}">Home</a></li>
        <li class="breadcrumb-item active">Remote logs</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <!-- CARDS -->
      <div class="col-lg">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Remote history</h5>
            <p class="card-text">Here you can see remote started query logs.</p>

            <!-- df result -->
            <div class="card" id="result-container">
              <div class="card-body">
                <div class="row mt-4">
                  <div class="table-responsive">

                    <div id="results-table-container">
                      <table id="remoteTable" class="table table-hover table-bordered table-sm">
                          <thead>
                              <tr>
                                  <th>user_id</th>
                                  <th>status</th>
                                  <th>sql_query</th>
                                  <th>table_name_created</th>
                                  <th>log_field</th>
                                  <th>countries_list</th>
                                  <th>countries</th>
                                  <th>run_on</th>
                                  <th>updated_on</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for remote in remote_log %}
                              <tr>
                                  <td>{{ remote.user_id }}</td>
                                  <td>{{ remote.status }}</td>
                                  <td>{{ remote.sql_query }}</td>
                                  <td>{{ remote.table_name_created }}</td>
                                  <td>{{ remote.log_field }}</td>
                                  <td>{{ remote.countries_list }}</td>
                                  <td>{{ remote.countries }}</td>
                                  <td>{{ remote.run_on }}</td>
                                  <td>{{ remote.updated_on }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>          
            <!-- END df result -->

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Details</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Content will be replaced here -->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Copy sql</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- END of Modal -->
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
<style>
  .modal-dialog {
    max-width: 50%;
  }

  #remoteTable tbody tr {
    user-select: none;
  }

  #remoteTable tbody tr:hover {
    cursor: pointer;
  }

  .truncate-text {
      display: inline-block;
      max-width: 20rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
</style>


<script type="text/javascript">
  $(document).ready(function () {
    var table = $('#remoteTable').DataTable({
      "pageLength": 10,
      "columnDefs": [
        {
          "targets": [1, 2],
          "render": function (data, type, row) {
            if (type === 'display') {
              var truncatedText = (data.length > 100) ? data.substr(0, 100) + '...' : data;
              return '<span class="truncate-text" data-original="' + data + '">' + truncatedText + '</span>';
            }
            return data;
          }
        }
      ]
    });

    // Click event for each row
    $('#remoteTable tbody').on('dblclick', 'tr', function () {
      var rowData = table.row(this).data();
      var modalContent = formatModalContent(rowData);
      $('#myModal .modal-body').html(modalContent);
      $('#myModal').modal('show');

      // Apply syntax highlighting to the SQL query
      document.querySelectorAll('pre code').forEach((block) => {
        hljs.highlightBlock(block);
      });
    });

  });

    function formatModalContent(rowData) {
      var formattedSql = sqlFormatter.format(rowData[2], {
        language: 'postgresql', 
        indent: '  ', 
        uppercase: true,
        linesBetweenQueries: 2
      });

      var content = '<table class="table table-bordered">';
      content += '<tr><th>user_id</th><td>' + rowData[0] + '</td></tr>';
      content += '<tr><th>run_on</th><td>' + rowData[7] + '</td></tr>';
      content += '<tr><th>sql_query</th><td><pre><code class="language-sql">' + formattedSql + '</code></pre></td></tr>';
      content += '<tr><th>countries_list</th><td>' + rowData[5] + '</td></tr>';
      content += '<tr><th>countries</th><td>' + rowData[6] + '</td></tr>';
      content += '</table>';
      return content;
    }

</script>

  
  

{% endblock %}
